.aboutusCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    background: $bgcolor;
    border-radius: 20px;
    color: $color;
    padding: 34px 34px 22px 34px;
}

.aboutusQuadro {
    display: block;
    width: 166px;
    height: 144px;
    margin: auto;
}