.coursesMain {
    display: flex;
    padding: 40px;
    gap: 40px;
    flex-direction: column;
    border: 2px solid $bgcolor;
    border-radius: 20px;
}

.coursesIconBlock {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    margin-right: 12px;
}

.coursesText {
    display: block;
    margin-bottom: 16px;
}

.list {
    display: flex;
    gap: 16px;
}

.price {
    display: flex;
    gap: 0;    
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    color: $bgcolor;
    margin-top: 8px;
}