.faqW576 {
    width: 57.6%;
}

.faqMain {
    display: flex;
    flex-direction: column;
    padding: 40px 120px 40px 40px;
    border: 1px solid $bgcolor;
    border-radius: 16px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
    position: relative;
}

.faqSecond {    
    display: flex;
    flex-direction: column;
    padding: 35px 120px 35px 40px;
    border: 1px solid $bgcolor;
    border-radius: 16px;    
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
    position: relative;
}

.faqSq {
    display: flex;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: $bgcolor;
    padding: 8px;
    border-radius: 20px;
    align-items: center;
}

.faqAsk {
    display: flex;
    flex-grow: 1;    
    flex-direction: column;
    padding: 57.5px 60px;
    gap: 40px;
    border-radius: 14px;    
    background-color: $bgcolor;
    align-items: center;
    margin-bottom: 20px;
}

.faqForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

