.font-H1 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
}

.font-H2 {
    font-family: "Poppins", sans-serif;
    font-size: 42px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5;
}

.font-H3 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5;
}

.font-H4 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5;
}

.font-H5 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.font-1b {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.font-2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.font-2b {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

.font-3 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.font-3b {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}