.promo {
    justify-content: space-between;
    gap: 16px;
}

.promoText {
    background-color: $bgcolor;
    border-radius: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 80px;
}

.promoTextContent {
    margin-top: 16px;
    margin-bottom: 40px;
    color: $color;
    text-align: left;
}

