.logo {
    width: 100%;
    height: auto;
}

.arrow {
    display: block;
    width: 7px;
    margin: auto;
}

.arrowdown {
    position: relative;
    margin-right: 30px;

    &::after {
        position: absolute;
        display: block;
        right: -6px;
        top: 16px;
        content: "";
        width: 7px;
        height: 7px;
        border-bottom: 1px solid $color2;
        border-right: 1px solid $color2;
        transform: rotateZ(45deg);
        transition: border-color .2s linear;
    }

    &:hover {

        &::after {
            border-color: $bgcolor;
        }
    }
}

.icon { 
    display: block; 
    height: 24px;      
    width: 24px;
}

.iconSq { 
    display: block; 
    height: 40px;      
    width: 40px;
    border-radius: 100px;
    background-color: $bgcolor;
    padding: 12px;
    cursor: pointer;
    transition: background-color .2s linear;

    &:hover {
        background-color: $bgcolor2;
    }
}

.iconLeaf { 
    display: block; 
    height: 64px;      
    width: 64px;
    border-radius: 12px;
    background: $bgcolor;
    padding: 16px;
}